.bg {
    position: relative;
    background-color: rgb(136, 136, 137);
    width: 100%;
    height: 2rem;
}

.arrowContainer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 5.5rem; /* This is the width of the cell */
    height: 100%;
}
.arrow {
    background-color: rgb(64, 47, 113);
    width: .5rem;
}
